    .header {
        background-color: #46b3e6;
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 150px;
        padding-top: 30px;
    }
    
    .header__img {
        height: 60px;
        padding-left: 30px;
    }
    
    .header__menu {
        color: azure;
    }
    
    .header__menu--profile {
        display: flex;
        padding-right: 30px;
    }
    
    .header__menu ul {
        display: none;
        list-style: none;
        position: absolute;
        padding: 0;
        text-align: right;
        margin: 50px 0 0 0;
    }
    
    .header__menu:hover ul,
    ul:hover {
        display: block;
    }
    
    .header__menu ul li a {
        text-decoration: none;
        color: white;
    }
    
    .header__menu ul li a:hover {
        text-decoration: underline;
    }
    
    .header__menu--profile img {
        height: 50px;
    }
    
    body {
        margin: 0px;
        font-family: 'Source Sans Pro', sans-serif;
        background-color: black;
    }
    
    .login {
        background: linear-gradient(#46b3e6, #2e279d);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 30px;
        min-height: calc(100vh -200px);
    }
    
    .login__container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 60px 68px 40px;
        border: solid 2px white;
        border-radius: 40px;
        color: white;
        background-color: rgba(255, 255, 255, 0.1);
        min-height: 700px;
        width: 300px;
    }
    
    .login__container--form {
        display: flex;
        flex-direction: column;
    }
    
    .login__container--form label {
        font-size: 14px;
    }
    
    .login__container--remember-me {
        color: white;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    
    .login__container--remember-me a {
        color: white;
        text-decoration: none;
    }
    
    .login__container--remember-me a:hover {
        text-decoration: underline;
    }
    
    .login__container--social-media div {
        display: flex;
        align-items: center;
        font-size: 14px;
        margin-bottom: 10px;
    }
    
    .login__container--social-media>div img {
        width: 30px;
        margin-right: 10px;
    }
    
    .login__container--register {
        font-size: 14px;
    }
    
    .login__container--register a {
        font-size: 16px;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    
    .login__container--register a:hover {
        text-decoration: underline;
    }
    
    .input {
        border: none;
        background: transparent;
        color: white;
        border-bottom: solid 2px white;
        margin-bottom: 20px;
        padding: 0px 20px;
        outline: none;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        height: 50px;
    }
    
     ::placeholder {
        color: white;
    }
    
    .button {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: bold;
        color: white;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 5px;
        border: none;
        border-radius: 35px;
        margin: 10px 0;
        outline: none;
        cursor: pointer;
        height: 50px;
    }
    
    .footer {
        background-color: #2e279d;
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    .footer a {
        color: white;
        text-decoration: none;
        cursor: pointer;
        font-size: 14px;
        padding-left: 30px;
    }
    
    .footer a:hover {
        text-decoration: underline;
    }
    
    @media only screen and (max-width:600px) {
        .login__container {
            background-color: transparent;
            border: none;
            padding: 0;
        }
        .footer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }