<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>carousel</title>

</head>

<body>

    <section class="carousel">
        <div class="carousel__container">
            <div class="carousel-item">
                <img class="carousel-item__img" src="./images/esp6266.png" alt="Esp8266">
                <div class="carousel-item__details">
                    <div>
                        <img src="./icons/play.png" alt="Icono play">
                        <img src="./icons/pause.png" alt="Icono pause">
                    </div>
                    <p class="carousel-item__details--title">Titulo descriptivo</p>
                    <p class="carousel-item__details--subtitle">Fecha</p>
                </div>
            </div>
            <div class="carousel-item">
            </div>

        </div>

    </section>

</body>

</html>